// COLORS //

// PRIMARY COLORS
$whiteColor: hsl(0, 0%, 93%);
$blueColor: hsl(246, 80%, 60%);
$lightOrangeColor: hsl(15, 100%, 70%);
$softBlueColor: hsl(195, 74%, 62%);
$lightRedColor: hsl(348, 100%, 68%);
$limeGreenColor: hsl(145, 58%, 55%);
$violetColor: hsl(264, 64%, 52%);
$lightYellowColor: hsl(43, 84%, 65%);

// NEUTRAL COLORS
$veryDarkBlueColor: hsl(226, 43%, 10%);
$darkBlueColor: hsl(235, 46%, 20%);
$desaturatedBlueColor: hsl(235, 45%, 61%);
$paleBlueColor: hsl(236, 100%, 87%);

//TYPOGRAPHY //

// BODY COPY
$cardSubtitleSize: 18px;
$cardTitlesSize: 38px;

//FONT
$font: 'Rubik', sans-serif;
